<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="position.css">
</head>

<body>

    <!-- <div class="white"></div>
    <div class="black"></div>
    <div class="white"></div>
    <div class="black"></div> -->

    <!-- <img width="200px"
        src="https://images.vexels.com/media/users/3/143174/isolated/preview/34f1b2b61373f599d8f735e91ce37851-knight-chess-figure-black-by-vexels.png"
        alt=""> -->
    <!-- 
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure architecto sunt corporis asperiores nulla
            aliquam sequi consectetur obcaecati ipsa reiciendis alias qui nihil, consequuntur delectus enim totam
            voluptates, sapiente rem.</p>
    </div>

    <img width="40px" src="https://pngimage.net/wp-content/uploads/2018/05/back-to-top-button-png-8.png" alt=""> -->

    <div class="div1">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit sint tempora tempore
            voluptatibus atque eum aspernatur sit nisi iste! Dolorem ullam ab eaque nisi mollitia explicabo quisquam
            porro numquam!</p>
    </div>

    <div class="div2">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur reprehenderit sint tempora tempore
            voluptatibus atque eum aspernatur sit nisi iste! Dolorem ullam ab eaque nisi mollitia explicabo quisquam
            porro numquam!</p>
    </div>
    <p class="clear">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, aliquid vitae. Dolorem
        accusantium architecto alias. Minus facilis maxime totam illum molestiae. Eaque dolore laudantium nihil
        aspernatur ratione odio maiores ipsum!</p>

    </div>
    </div>
</body>

</html>