
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
    background-color: darkcyan;
}

form{
    width: 300px;
    margin: 8% auto;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    
}

form>h2{
    text-align: center;
}

input[type="email"], input[type="password"]{

    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1em;
    background: transparent;
    font-weight: bold;
   
}

input[type="email"]{
    padding: 8px 8px 8px 45px;
    width: 80%;
    background-image: url('email.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 10px 2px;
    padding: 8px 8px 8px 50px;
    margin-bottom: 20px;
}

input[type="password"]{
    padding: 8px 8px 8px 45px;
    width: 82%;
    background-image: url('pwd.png');
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 10px 3px;
    margin-bottom: 5px;
   
}

button{

    width: 100%;
    font-size: 1em;
    border: none;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: darkcyan;
    color: white;
    padding: 10px;
    margin: 40px 0px 10px 0px;   
}

button:hover{
    background-color: crimson;
    cursor: pointer;
}

label{
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;

}

span a{
    width: 100%;
    display: inline-block;
    font-size: 0.8em;
    text-decoration: none;
    color: black;
}

span a:hover{
    color: blue;
}

input[type="password"]+span{
    text-align: right;
}

button+span{
    text-align: center;
}